<?php echo $header; ?>
<div class="container">
  <ul class="breadcrumb">
    <?php foreach ($breadcrumbs as $breadcrumb) { ?>
    <li><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></li>
    <?php } ?>
  </ul>
  <div class="row"><?php echo $column_left; ?>
    <?php if ($column_left && $column_right) { ?>
    <?php $class = 'col-sm-6'; ?>
    <?php } elseif ($column_left || $column_right) { ?>
    <?php $class = 'col-sm-9'; ?>
    <?php } else { ?>
    <?php $class = 'col-sm-12'; ?>
    <?php } ?>
    <div id="content" class="<?php echo $class; ?>"><?php echo $content_top; ?>
      <div class="row">
        <?php if ($column_left || $column_right) { ?>
        <?php $class = 'col-sm-5'; ?>
        <?php } else { ?>
        <?php $class = 'col-sm-4'; ?>
        <?php } ?>
        <div class="<?php echo $class; ?>">
          <?php if ($thumb || $images) { ?>
          <div class="thumbnails-image ">

            <?php if ($location) { ?>
            <div class="label-pro-new"><?php echo $location; ?></div>
            <?php } ?>
            <?php if ($thumb) { ?>
              <a class="thumbnail" title="<?php echo $heading_title; ?>">
              <img src="<?php echo $thumb; ?>" data-zoom-image="<?php echo $popup; ?>" title="<?php echo $heading_title; ?>" alt="<?php echo $heading_title; ?>" class="modal-img-product" />
              </a>
            <?php } ?>
          </div><!-- thumbnails-image -->
        <?php if ($thumb) { ?>
        <div class="row ">
          <div class="wrapper-img-additional">
            <div class="image-additional" id="gallery_01">
              <a class="thumbnail" href="javascript:void(0);" data-image="<?php echo $thumb; ?>" data-zoom-image="<?php echo $popup; ?>" title="<?php echo $heading_title; ?>">
              <img src="<?php echo $thumb; ?>" title="<?php echo $heading_title; ?>" alt="<?php echo $heading_title; ?>" />
              </a>
              <?php } ?>
              <?php if ($images) { ?>
              <?php foreach ($images as $image) { ?>
              <a class="thumbnail" href="javascript:void(0);" data-image="<?php echo $image['thumb']; ?>" data-zoom-image="<?php echo $image['popup']; ?>" title="<?php echo $heading_title; ?>"> <img  src="<?php echo $image['thumb']; ?>" title="<?php echo $heading_title; ?>" alt="<?php echo $heading_title; ?>" /></a>
              <?php } ?>
              <?php } ?>
            </div>
          </div>
        </div><!-- end wrapper-img-additional -->
        <?php } ?>
        </div>
        <?php if ($column_left || $column_right) { ?>
        <?php $class = 'col-sm-7'; ?>
        <?php } else { ?>
        <?php $class = 'col-sm-8'; ?>
        <?php } ?>
        <div class="<?php echo $class; ?>">
          <h1 class="product-name product-name-product modal-title product-h1"><?php echo $heading_title; ?></h1>
          <?php if ($review_status) { ?>
          <div class="rating rating-product rating-product-page">
            <p>
              <?php if (isset($rating)) { ?>

            <div class="rating"><img src="catalog/view/theme/tt_sonic1/image/stars-<?php echo $rating; ?>.png" alt="<?php echo $reviews; ?>" /></div>

            <?php } ?>
              <a href="" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;"><?php echo $reviews; ?></a> | <a href="" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;"><?php echo $text_write; ?></a></p>
          </div>
          <?php } ?> <!-- end-rating -->
         
          <div class="short-description-content">
            <p class="availability in-stock">
              <?php echo $text_stock; ?> <span class="color-text"><?php echo $stock; ?></span>
            </p>

            <hr style="margin-top: 8px; margin-bottom: 12px">
          </div> <!-- end-description -->

          <?php if ($price) { ?>
          <div class="product-price">
            <?php if (!$special) { ?>
            <div>
              <p class="price product-h2">Цена: <b><?php echo $price; ?></b></p>
            </div>
            <?php } else { ?>
            <div>
              <h2 class="price-new"><?php echo $special; ?></h2>
            </div>
            <div>
              <span class="price-old"><?php echo $price; ?></span>
            </div>
            <?php } ?>
          </div>
          <?php } ?>


          <div class="delivery-items">
            <div class="item">
              <div class="head">
                <img src="image/del.png" alt="">
                <p>Доставка и оплата:</p>
              </div>
              <div class="list-delivery">
                <ul>
                  <li>Доставка по Москве, московской области и ближайшим регионам</li>
                  <li>Оплата по факту доставки</li>
                  <li>Наличный и безналичный расчет</li>
                  <li>Все наши товары сертифицированы</li>
                </ul>
              </div>
            </div>
            <div class="item">
              <div class="head">
                <img src="image/phone.png" alt="">
                <p>Отдел продаж:</p>
              </div>
              <div class="list-delivery">
                <ul>
                  <li><a href="tel:88002222496">8-800-222-24-96</a></li>
                  <li>С 8:00 - 18:00 без выходных</li>
                  <li><a href="mailto:oookbksm@mail.ru">oookbksm@mail.ru</a></li>
                </ul>
              </div>
            </div>
          </div>
           
          <div id="product">
            <?php if ($options) { ?>
            <h3><?php echo $text_option; ?></h3>
            <?php foreach ($options as $option) { ?>
            <?php if ($option['type'] == 'select') { ?>
            <div class="form-group<?php echo ($option['required'] ? ' required' : ''); ?>">
              <label class="control-label" for="input-option<?php echo $option['product_option_id']; ?>"><?php echo $option['name']; ?></label>
              <select name="option[<?php echo $option['product_option_id']; ?>]" id="input-option<?php echo $option['product_option_id']; ?>" class="form-control">
                <option value=""><?php echo $text_select; ?></option>
                <?php foreach ($option['product_option_value'] as $option_value) { ?>
                <option value="<?php echo $option_value['product_option_value_id']; ?>"><?php echo $option_value['name']; ?>
                <?php if ($option_value['price']) { ?>
                (<?php echo $option_value['price_prefix']; ?><?php echo $option_value['price']; ?>)
                <?php } ?>
                </option>
                <?php } ?>
              </select>
            </div>
            <?php } ?>
            <?php if ($option['type'] == 'radio') { ?>
            <div class="form-group<?php echo ($option['required'] ? ' required' : ''); ?>">
              <label class="control-label"><?php echo $option['name']; ?></label>
              <div id="input-option<?php echo $option['product_option_id']; ?>">
                <?php foreach ($option['product_option_value'] as $option_value) { ?>
                <div class="radio">
                  <label>
                    <input type="radio" name="option[<?php echo $option['product_option_id']; ?>]" value="<?php echo $option_value['product_option_value_id']; ?>" />
                    <?php echo $option_value['name']; ?>
                    <?php if ($option_value['price']) { ?>
                    (<?php echo $option_value['price_prefix']; ?><?php echo $option_value['price']; ?>)
                    <?php } ?>
                  </label>
                </div>
                <?php } ?>
              </div>
            </div>
            <?php } ?>
            <?php if ($option['type'] == 'checkbox') { ?>
            <div class="form-group<?php echo ($option['required'] ? ' required' : ''); ?>">
              <label class="control-label"><?php echo $option['name']; ?></label>
              <div id="input-option<?php echo $option['product_option_id']; ?>">
                <?php foreach ($option['product_option_value'] as $option_value) { ?>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="option[<?php echo $option['product_option_id']; ?>][]" value="<?php echo $option_value['product_option_value_id']; ?>" />
                    <?php echo $option_value['name']; ?>
                    <?php if ($option_value['price']) { ?>
                    (<?php echo $option_value['price_prefix']; ?><?php echo $option_value['price']; ?>)
                    <?php } ?>
                  </label>
                </div>
                <?php } ?>
              </div>
            </div>
            <?php } ?>
            <?php if ($option['type'] == 'image') { ?>
            <div class="form-group<?php echo ($option['required'] ? ' required' : ''); ?>">
              <label class="control-label"><?php echo $option['name']; ?></label>
              <div id="input-option<?php echo $option['product_option_id']; ?>">
                <?php foreach ($option['product_option_value'] as $option_value) { ?>
                <div class="radio">
                  <label>
                    <input type="radio" name="option[<?php echo $option['product_option_id']; ?>]" value="<?php echo $option_value['product_option_value_id']; ?>" />
                    <img src="<?php echo $option_value['image']; ?>" alt="<?php echo $option_value['name'] . ($option_value['price'] ? ' ' . $option_value['price_prefix'] . $option_value['price'] : ''); ?>" class="img-thumbnail" /> <?php echo $option_value['name']; ?>
                    <?php if ($option_value['price']) { ?>
                    (<?php echo $option_value['price_prefix']; ?><?php echo $option_value['price']; ?>)
                    <?php } ?>
                  </label>
                </div>
                <?php } ?>
              </div>
            </div>
            <?php } ?>
            <?php if ($option['type'] == 'text') { ?>
            <div class="form-group<?php echo ($option['required'] ? ' required' : ''); ?>">
              <label class="control-label" for="input-option<?php echo $option['product_option_id']; ?>"><?php echo $option['name']; ?></label>
              <input type="text" name="option[<?php echo $option['product_option_id']; ?>]" value="<?php echo $option['value']; ?>" placeholder="<?php echo $option['name']; ?>" id="input-option<?php echo $option['product_option_id']; ?>" class="form-control" />
            </div>
            <?php } ?>
            <?php if ($option['type'] == 'textarea') { ?>
            <div class="form-group<?php echo ($option['required'] ? ' required' : ''); ?>">
              <label class="control-label" for="input-option<?php echo $option['product_option_id']; ?>"><?php echo $option['name']; ?></label>
              <textarea name="option[<?php echo $option['product_option_id']; ?>]" rows="5" placeholder="<?php echo $option['name']; ?>" id="input-option<?php echo $option['product_option_id']; ?>" class="form-control"><?php echo $option['value']; ?></textarea>
            </div>
            <?php } ?>
            <?php if ($option['type'] == 'file') { ?>
            <div class="form-group<?php echo ($option['required'] ? ' required' : ''); ?>">
              <label class="control-label"><?php echo $option['name']; ?></label>
              <button type="button" id="button-upload<?php echo $option['product_option_id']; ?>" data-loading-text="<?php echo $text_loading; ?>" class="btn btn-default btn-block"><i class="fa fa-upload"></i> <?php echo $button_upload; ?></button>
              <input type="hidden" name="option[<?php echo $option['product_option_id']; ?>]" value="" id="input-option<?php echo $option['product_option_id']; ?>" />
            </div>
            <?php } ?>
            <?php if ($option['type'] == 'date') { ?>
            <div class="form-group<?php echo ($option['required'] ? ' required' : ''); ?>">
              <label class="control-label" for="input-option<?php echo $option['product_option_id']; ?>"><?php echo $option['name']; ?></label>
              <div class="input-group date">
                <input type="text" name="option[<?php echo $option['product_option_id']; ?>]" value="<?php echo $option['value']; ?>" data-date-format="YYYY-MM-DD" id="input-option<?php echo $option['product_option_id']; ?>" class="form-control" />
                <span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
                </span></div>
            </div>
            <?php } ?>
            <?php if ($option['type'] == 'datetime') { ?>
            <div class="form-group<?php echo ($option['required'] ? ' required' : ''); ?>">
              <label class="control-label" for="input-option<?php echo $option['product_option_id']; ?>"><?php echo $option['name']; ?></label>
              <div class="input-group datetime">
                <input type="text" name="option[<?php echo $option['product_option_id']; ?>]" value="<?php echo $option['value']; ?>" data-date-format="YYYY-MM-DD HH:mm" id="input-option<?php echo $option['product_option_id']; ?>" class="form-control" />
                <span class="input-group-btn">
                <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                </span></div>
            </div>
            <?php } ?>
            <?php if ($option['type'] == 'time') { ?>
            <div class="form-group<?php echo ($option['required'] ? ' required' : ''); ?>">
              <label class="control-label" for="input-option<?php echo $option['product_option_id']; ?>"><?php echo $option['name']; ?></label>
              <div class="input-group time">
                <input type="text" name="option[<?php echo $option['product_option_id']; ?>]" value="<?php echo $option['value']; ?>" data-date-format="HH:mm" id="input-option<?php echo $option['product_option_id']; ?>" class="form-control" />
                <span class="input-group-btn">
                <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                </span></div>
            </div>
            <?php } ?>
            <?php } ?>
            <?php } ?>
            <?php if ($recurrings) { ?>
            <h3><?php echo $text_payment_recurring ?></h3>
            <div class="form-group required">
              <select name="recurring_id" class="form-control">
                <option value=""><?php echo $text_select; ?></option>
                <?php foreach ($recurrings as $recurring) { ?>
                <option value="<?php echo $recurring['recurring_id'] ?>"><?php echo $recurring['name'] ?></option>
                <?php } ?>
              </select>
              <div class="help-block" id="recurring-description"></div>
            </div>
            <?php } ?>
            <div class="form-group">
              <?php if ($minimum >= 2) { ?>
                <div class="alert alert-info alert-minimum-qty"><i class="fa fa-info-circle"></i> <?php echo $text_minimum; ?></div>
              <?php } ?>
              <div class="form-quantity form-quantity-product">  
                  <!-- <label class="control-label" for="input-quantity"><?php //echo $entry_qty; ?></label> -->
                  
                  <div class="box-input-qty">
                  <input type="text" name="quantity" value="<?php echo $minimum; ?>" size="2" id="input-quantity" class="form-control" />
                  <div class="btn-plus"><input type="button" id="plus" value="+" class="qty"/></div>
                  <div class="btn-minus"><input type="button" id="minus" value="-" class="qty" /></div>
                  </div>
                  
                  <input type="hidden" name="product_id" value="<?php echo $product_id; ?>" />
              </div>
              <div class="box-button button-group button-group-product actions">
               
                <button class="button btn-cart product-buy" id="button-cart" type="button"  title="<?php echo $button_cart; ?>">
                  <i class="fa fa-plus"></i>
                  <span class="text_cart"><?php echo $button_cart; ?></span>
                  <span class="effect-add-cart" data-hover="<?php echo $button_cart; ?>">
                    <?php //echo $button_cart; ?>
                  </span>
                </button>

                <button class="button btn-cart modal-product-btn product-onclick-buy" type="button">
                  <i class="fa fa-shopping-cart"></i>
                  <span class="text_cart">Купить в один клик</span>
                </button>

                <button class="btn-wishlist" type="button"  title="<?php echo $button_wishlist; ?>" onclick="wishlist.add('<?php echo $product_id; ?>');">
                  <span class="effect-btn effect-wishlist">
                    <i class="fa fa-heart-o"></i>
                  </span>
                  <em class="tooltips"><?php echo $tooltip_wishlist; ?></em>
                </button>
                <button class="btn-compare" type="button" title="<?php echo $button_compare; ?>" onclick="compare.add('<?php echo $product_id; ?>');">
                  <span class="effect-btn effect-compare">
                    <i class="fa fa-refresh"></i>
                  </span>
                  <em class="tooltips"><?php echo $tooltip_compare; ?></em>
                </button>
              </div><!-- end-button -->
              <script type="text/javascript">
                $(document).ready(function() {
                  var minimum = <?php echo $minimum; ?>;
                    $("#input-quantity").change(function(){
                    if ($(this).val() < minimum) {
                      alert("Minimum Quantity: "+minimum);
                      $("#input-quantity").val(minimum);
                    }
                  });
                  // increase number of product
                  function minus(minimum){
                    var currentval = parseInt($("#input-quantity").val());
                    $("#input-quantity").val(currentval-1);
                    if($("#input-quantity").val() <= 0 || $("#input-quantity").val() < minimum){
                      alert("Minimum Quantity: "+minimum);
                      $("#input-quantity").val(minimum);
                    }
                  };
                  // decrease of product
                  function plus(){
                    var currentval = parseInt($("#input-quantity").val());
                    $("#input-quantity").val(currentval+1);
                  };
                  $('#minus').click(function(){
                    minus(minimum);
                  });
                  $('#plus').click(function(){
                   plus();
                  });
                });
              </script>
            </div>
            <!-- AddThis Button BEGIN -->
            <!-- <div class="box-addthis">
              <hr>
              <div class="addthis_toolbox addthis_default_style"><a class="addthis_button_facebook_like" fb:like:layout="button_count"></a> <a class="addthis_button_tweet"></a> <a class="addthis_button_pinterest_pinit"></a> <a class="addthis_counter addthis_pill_style"></a></div>
              <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-515eeaf54693130e"></script>
            </div> -->
            <!-- AddThis Button END -->
          </div>
        </div>
      </div>
      <ul class="nav nav-tabs nav-tabs-products">
        <?php if ($attribute_groups) { ?>
        <li class="active"><a href="#tab-specification" data-toggle="tab"><?php echo $tab_attribute; ?></a></li>
        <?php } ?>
        <li><a href="#tab-description" data-toggle="tab"><?php echo $tab_description; ?></a></li>
        <?php if ($review_status) { ?>
        <li><a href="#tab-review" data-toggle="tab"><?php echo $tab_review; ?></a></li>
        <?php } ?>
        <li><a href="#tab-sertification" data-toggle="tab">Сертификаты</a></li>

        <li><a href="#tab-delivery" data-toggle="tab">Доставка</a></li>

        <li><a href="#tab-payments" data-toggle="tab">Оплата</a></li>

      </ul>
      <div class="tab-content tab-content-product">
        <div class="tab-pane" id="tab-description"><?php echo $description; ?></div>
        <div class="tab-pane" id="tab-sertification">Сертификаты</div>
        <div class="tab-pane" id="tab-payments">
          <div class="payment_sub_block" style="font-size: 14px;">
            <a name="payment_anchor"></a>
            <p>
              Вы можете оплатить заказ любым удобным для Вас способом:
            </p>
            <ol>
              <li>
                <p>
                  <b>Оплата наличными</b>
                </p>
                <p>
                  Оплатить товар наличными вы можете в офисах компании ООО КБК СМ, а также курьеру или водителю при получении товара на объекте.
                </p>
              </li>
              <li>
                <p>
                  <b>Оплата по безналичному расчету</b>
                </p>
                <p>
                  Договор-счет действителен в течение 3 (трех) банковских дней.
                </p>
                <p>
                  Для оплаты по безналичному расчету достаточно согласовать с менеджером сроки поставки товара и получить договор-счет.
                </p>
              </li>
              <li>
                <p>
                  <b>Оплата картой</b>
                </p>
                <p>
                  Оплата банковской картой возможна в офисах компании, а также курьеру при получении.
                  <br>
                </p>
              </li>
            </ol>
            Подробнее с условиями оплаты и гарантии вы можете ознакомиться на странице Оплата и доставка
          </div>
        </div>
        <div class="tab-pane" id="tab-delivery"><p><ul class="theme-list">
            <li>Доставка по Москве, Московской области и ближайшим регионам.</li>
            <li>Оплата по факту доставки.</li>
            <li>Наличный и безналичный расчет.</li>
            <li>Срок доставки 2 дня с момента заказа.</li>
          </ul></div>
        <?php if ($attribute_groups) { ?>
        <div class="tab-pane active" id="tab-specification">


          <div class="table-atrributes">
            <?php foreach ($attribute_groups as $attribute_group) { ?>
            <div class="attribute-category"><?php echo $attribute_group['visible_name']; ?></div>
            <div class="items">
              <?php foreach ($attribute_group['attribute'] as $attribute) { ?>
              <div class="item">
                   <div class="attribute-name">
                     <p><?php echo $attribute['name']; ?></p>
                     <div class="name-bottom">&nbsp;</div>
                   </div>
                   <p class="attribute-value"><?php echo $attribute['text']; ?></p>
              </div>
              <?php } ?>
            </div>
            <?php } ?>
          </div>

        </div>
        <?php } ?>
        <?php if ($review_status) { ?>
        <div class="tab-pane" id="tab-review">
          <form class="form-horizontal" id="form-review">
            <div id="review"></div>
            <p class="h2"><?php echo $text_write; ?></p>
            <?php if ($review_guest) { ?>
            <div class="form-group required">
              <div class="col-sm-12">
                <label class="control-label" for="input-name"><?php echo $entry_name; ?></label>
                <input type="text" name="name" value="<?php echo $customer_name; ?>" id="input-name" class="form-control" />
              </div>
            </div>
            <div class="form-group required">
              <div class="col-sm-12">
                <label class="control-label" for="input-review"><?php echo $entry_review; ?></label>
                <textarea name="text" rows="5" id="input-review" class="form-control"></textarea>
                <div class="help-block"><?php echo $text_note; ?></div>
              </div>
            </div>
            <div class="form-group required">
              <div class="col-sm-12">
                <label class="control-label"><?php echo $entry_rating; ?></label>
                &nbsp;&nbsp;&nbsp; <?php echo $entry_bad; ?>&nbsp;
                <input type="radio" name="rating" value="1" />
                &nbsp;
                <input type="radio" name="rating" value="2" />
                &nbsp;
                <input type="radio" name="rating" value="3" />
                &nbsp;
                <input type="radio" name="rating" value="4" />
                &nbsp;
                <input type="radio" name="rating" value="5" />
                &nbsp;<?php echo $entry_good; ?></div>
            </div>
            <?php echo $captcha; ?>
            <div class="buttons clearfix">
              <div class="pull-right">
                <button type="button" id="button-review" data-loading-text="<?php echo $text_loading; ?>" class="btn btn-primary"><?php echo $button_continue; ?></button>
              </div>
            </div>
            <?php } else { ?>
            <?php echo $text_login; ?>
            <?php } ?>
          </form>
        </div>
        <?php } ?>
      </div>
      <?php if ($products) { ?>
      <div class="box-title module-title block-title">
        <h3 class="title title-group title-fx"><span><?php echo $text_related; ?></span></h3>
      </div>
        <div class="view-related ">
        <?php $i = 0; ?>
        <?php foreach ($products as $product) { ?>
        <div class="product-thumb transition relate-product">
          <div class="item">
            <div class="item-inner">
              <div class="oc-box-content">
                <div class="products">
                  <div class="product-img-content">
                    <a href="<?php echo $product['href']; ?>"><img src="<?php echo $product['thumb']; ?>" alt="<?php echo $product['name']; ?>" title="<?php echo $product['name']; ?>" class="img-responsive" /></a>
                    
                    <div class="add-to-links">
                      <button class="btn-wishlist" type="button"  title="<?php echo $button_wishlist; ?>"  onclick="wishlist.add('<?php echo $product['product_id']; ?>');">
                        <span class="effect-btn effect-wishlist">
                          <i class="fa fa-heart-o"></i>
                        </span>
                        <em class="tooltips"><?php echo $tooltip_wishlist; ?></em>
                      </button>
                      <button class="btn-compare" type="button"  title="<?php echo $button_compare; ?>"  onclick="compare.add('<?php echo $product['product_id']; ?>');">
                        <span class="effect-btn effect-compare">
                          <i class="fa fa-refresh"></i>
                        </span>
                        <em class="tooltips"><?php echo $tooltip_compare; ?></em>
                      </button>
                    </div> <!-- end-add-to-link -->

   
                  </div><!-- product-img-content -->
                  
                  <div class="top-inner">
                    <h2 class="product-name">
                      <a href="<?php echo $product['href']; ?>"><?php echo $product['name']; ?></a>
                    </h2>
                    <div class="rating"><img src="catalog/view/theme/tt_sonic1/image/stars-<?php echo $product['rating']; ?>.png" alt="<?php echo $product['reviews']; ?>" /></div>  
                      <?php if ($product['price']) { ?>
                      <div class="price-box">
                        <?php if (!$product['special']) { ?>
                          <span class="price"><?php echo $product['price']; ?></span>
                        <?php } else { ?>
                          <p class="old-price"><span class="price"><?php echo $product['price']; ?></span></p>
                          <p class="special-price"><span class="price"><?php echo $product['special']; ?></span></p>
                        <?php } ?>
                      </div>
                      <?php } ?>
                  </div><!-- top-inner -->
                  <div class="actions">
                      <button class="button btn-cart" type="button"  title="<?php echo $button_cart; ?>" onclick="cart.add('<?php echo $product['product_id']; ?>');">
                                            <i class="fa fa-plus"></i>
                                            <span class="effect-add-cart" data-hover="<?php echo $button_cart; ?>">
                                                <?php echo $button_cart; ?>
                                            </span>
                                        </button>
                  </div><!-- actions -->
                </div><!-- products -->
              </div><!-- oc-box-content -->
            </div> <!-- item-inner -->
          </div> <!-- item -->
        </div><!-- relate-product-->
        <?php } ?>
        </div><!-- view-related -->
      <?php } ?>
      <?php if ($tags) { ?>
      <p><?php echo $text_tags; ?>
        <?php for ($i = 0; $i < count($tags); $i++) { ?>
        <?php if ($i < (count($tags) - 1)) { ?>
        <a href="<?php echo $tags[$i]['href']; ?>"><?php echo $tags[$i]['tag']; ?></a>,
        <?php } else { ?>
        <a href="<?php echo $tags[$i]['href']; ?>"><?php echo $tags[$i]['tag']; ?></a>
        <?php } ?>
        <?php } ?>
      </p>
      <?php } ?>
      <?php echo $content_bottom; ?></div>
    <?php echo $column_right; ?></div>
</div>

<script><!--
    $('#review').load('index.php?route=product/product/review&product_id=<?php echo $product_id; ?>');

    $('#button-review').on('click', function() {
        $.ajax({
            url: 'index.php?route=product/product/write&product_id=<?php echo $product_id; ?>',
            type: 'post',
            dataType: 'json',
            data: $("#form-review").serialize(),
            beforeSend: function() {
                $('#button-review').button('loading');
            },
            complete: function() {
                $('#button-review').button('reset');
            },
            success: function(json) {
                $('.alert-success, .alert-danger').remove();

                if (json['error']) {
                    $('#review').after('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
                }

                if (json['success']) {
                    $('#review').after('<div class="alert alert-success"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');

                    $('input[name=\'name\']').val('');
                    $('textarea[name=\'text\']').val('');
                    $('input[name=\'rating\']:checked').prop('checked', false);
                }
            }
        });
    });
//--></script>
<?php echo $footer; ?>
